<div class="container content-center">
  <div class="heading-text">
    <h5>Add Recipe</h5>
  </div>


  <form class="my-for" novalidate [formGroup]="myform" (submit)="onSubmit()">
    <div class="form-group row">
      <br>
    </div>

    <mat-form-field class="text-field">
      <input matInput type="text" placeholder="Recipe Name" [formControl]="name">
    </mat-form-field>
    <mat-form-field class="text-field">
      <input matInput type="text" placeholder="Ingredient 1" [formControl]="ingredient1">
    </mat-form-field>
    <mat-form-field class="text-field">
      <input matInput type="text" placeholder="Ingredient 2" [formControl]="ingredient2">
    </mat-form-field>
    <mat-form-field class="text-field">
      <input matInput type="text" placeholder="Ingredient 3" [formControl]="ingredient3">
    </mat-form-field>
    <mat-form-field class="text-field">
      <input matInput type="text" placeholder="Ingredient 4" [formControl]="ingredient4">
    </mat-form-field>

    <div class="form-group row">
      <br>
    </div>

    <div class="button-row">
      <button mat-raised-button color="primary">Submit</button>
      <button type="button" mat-raised-button disabled>Cancel</button>
    </div>
  </form>
</div>