.rounded-corner {
    border-radius: 25px;
    border: 2px solid #5285d3;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

.border-line {
    border: 2px solid #5285d3;
}

.anchor-boader {
    border-radius: 6px;
    border: 2px solid #5285d3;
}

.heading-text {
    color: #5285d3;
}

/* .container {
    min-height: 600px;
} */
