<div class="content-center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="color: #3a30c5;">Recipe Name : {{recipe.name}}</mat-card-title>
      <mat-card-subtitle>Ingredient List</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="form-group"><br></div>
      <div class="form-group">
        <label class="col-md-7 text-center" for="ingredient1">Ingredient 1 :</label>
        <label class="col-md-5" for="ingredient1Value">{{recipe.ingredient1}}</label>
      </div>
      <div class="form-group">
        <label class="col-md-7 text-center" for="ingredient1">Ingredient 2 :</label>
        <label class="col-md-5" for="ingredient1Value">{{recipe.ingredient2}}</label>
      </div>

      <div class="form-group">
        <label class="col-md-7 text-center" for="ingredient1">Ingredient 3 :</label>
        <label class="col-md-5" for="ingredient1Value">{{recipe.ingredient3}}</label>
      </div>

      <div class="form-group">
        <label class="col-md-7 text-center" for="ingredient1">Ingredient 4 :</label>
        <label class="col-md-4" for="ingredient1Value">{{recipe.ingredient4}}</label>
      </div>
    </mat-card-content>
  </mat-card>
</div>