<div class="container" style="margin-top: 16%; margin-bottom: 18%;">
    <h5>{{recipe.name}} - Ingredient List</h5>

    <div class="form-group"><br></div>

    <div class="form-group">
      <label class="col-md-4" for="ingredient1">Incredient 1 :</label>
      <label class="col-md-8 text-left" for="ingredient1Value">{{recipe.ingredient1}}</label>
    </div>
    
    <div class="form-group">
      <label class="col-md-4" for="ingredient1">Incredient 2 :</label>
      <label class="col-md-8 text-left" for="ingredient1Value">{{recipe.ingredient2}}</label>
    </div>
    
    <div class="form-group">
      <label class="col-md-4" for="ingredient1">Incredient 3 :</label>
      <label class="col-md-8 text-left" for="ingredient1Value">{{recipe.ingredient3}}</label>
    </div>
    
    <div class="form-group">
      <label class="col-md-4" for="ingredient1">Incredient 4 :</label>
      <label class="col-md-8 text-left" for="ingredient1Value">{{recipe.ingredient4}}</label>
    </div>
</div>